/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto; /*comentar sobre depois*/ 
}
:root {
  --header-height: 3.5rem;
  --hue: 330;
  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);
}
html {
  scroll-behavior: smooth;
}

body {
  font: 400 1rem 'DM Sans', sans-serif;
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}
.title {
  font: 700 1.875rem 'Poppins', sans-serif;
  color: var(--title-color);
  -webkit-font-smoothing: auto;

}
.button {
  background-color: var(--base-color); 
  color: var(--text-color-light);

  display: flex;

  height: 3.5rem;
  align-items: center; 
  text-align: center;
  width: 13.6rem;
  padding-left: 2rem; 
  padding-right: 2rem; 
  border-radius: 0.25rem;
  margin: 0 auto; 
  font: 500 1rem "DM Sans", sans serif;
  transition: background 1s;
}
.button:hover {
  background: var(--base-color-alt);
}

.divider-1 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 36%, 57%, 1) 0%,
    hsla(var(--hue), 65%, 88%, 0.34) 100%
  );
}

.divider-2 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 65%, 88%, 0.34),
    hsla(var(--hue), 36%, 57%, 1)
  );
}
/* LAYOUT ============= */
.container {
  /* width: 100%; */ /* isso dá b.o em scroll*/
  /* width: 100%; */ /* isso dá b.o em scroll*/
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  /* margin: 0; */
  
}

.grid {
  display: grid;
  gap: 2rem;

}
.section {
  padding: 5rem 0;
}
.section .title {
  margin-bottom: 1rem;
}
.section header {
  margin-bottom: 2.5rem;
}
.section header strong {
  color: var(--base-color);
}

#header {
  border-bottom: 1px solid #e4e4e4 ;
  display: flex;
  
  width: 100%; 
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
}
#header.scroll {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
}
/* navigation */
nav {
  height: var(--header-height); 
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; 
}
nav ul { 
  display: flex; 
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  list-style: none;
}

nav ul li { 
  text-align: center; 
}
nav ul li a {
  transition: color 0.3s;
  position: relative;
}
nav ul li a:hover {
 color: var(--base-color);
}
nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--base-color);
  bottom: -1.5rem;
  left: 0;

  position: absolute;

  transition: width 0.2s;
}
nav ul li a:hover::after {
  width: 100%;
}
nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -10rem;
  transition: 0.2s;
}
nav .menu ul {
  display: none;
}
nav.show .menu ul {
  display: grid;
}
nav.show .menu{
  opacity: 1;
  visibility: visible;
  display: grid;
  place-content: center;
  background: var(--body-color);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}
nav.show ul.grid {
  gap: 3.5rem; 
}
nav .ph-x {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 1.5rem;
  top: -1.5rem;
  transition: 0.2s;
}

nav.show div.ph-x {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
}
.toggle {
  color: var(--base-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.logo {
  font: 700 1.31rem 'Poppins', sans-serif;
  color: var(--title-color);

}
.logo span {
  color: var(--base-color);
}

main {
  margin-top: var(--header-height);
}

/* HOME ============= */
#home {
  overflow: hidden; 
  
}
#home .container {
  margin: 0;
}

#home .image {
  position: relative;
}

#home .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--base-color-second);
  position: absolute;
  top: -16.8%;
  left: 16.7%;
  z-index: 0;
  border-radius: 0.25rem;
}
#home .image img {
  right: 2.93rem;
  position: relative;
  border-radius: 0.25rem;

}
#home .texts {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
  /* margin: 0; */
}

#home .texts h2 {
  margin-bottom: 0.7rem;
}

#home .texts p {
  margin-bottom: 1.5rem;
}

/* HOME ============= */
#about {
  background: white;
}
#about .container {
  margin: 0;
}

#about .image {
  position: relative;
}

#about .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--base-color-second);
  position: absolute;
  top: -8.3%;
  right: 33%;
  z-index: 0;
  border-radius: 0.25rem;
}
#about .image img {
  /* right: 2.93rem; */
  position: relative;
  border-radius: 0.25rem;

}
#about .texts {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
#services.cards.grid {
  gap: 1.5rem;

}
#services div.cards {
  display: grid;
  margin: 0 auto;
}
#services div.card {
  text-align: center;
  border-radius: 0.25rem 0.25rem 0 0;
  padding: 3.625rem 2rem;
  border-bottom: 0.25rem solid var(--base-color);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
}
#services .card img {
  width: 20%;
  padding-bottom: 1.5rem; /*de onde veio isso?*/
}

#services .card h3 {
  font-size: 1.5rem;
}

/* testimonials */

.testimonial blockquote {
  padding: 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  margin: 0 1.5rem;
  border-radius: 0.25rem;
}
#testimonials blockquote p {
  position: relative;
  text-indent: 1.875rem;
 
}
#testimonials blockquote p span {
  font: 700 3rem serif;
  position: absolute;
  top: -0.375rem;
  left: -1.875rem;
  color: var(--base-color);
}

.testimonial p {
  font-size: 16px;
  font-family: DM Sans;
  font-weight: 400;
  color: var(--title-color);
}

.testimonial cite img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.testimonial cite {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-top: 1.5rem;
}

.swiper-pagination-bullet-active {
  background: var(--base-color);
}

#contact .grid {
  gap: 4rem;
}
#contact p {
  margin-bottom: 2rem;
}
#contact a {
  margin: 0;
  width: 15.6rem;
  gap: 0.625rem;
}
#contact i {
  font-size: 1.5rem;
}
#contact .links ul {
  display: grid;
  list-style: none;
  gap: 2.18rem;

}
#contact .links li {
  display: flex;
  gap: 1rem;
}

#contact .links i {
  font-size: 1.5rem;
  color: var(--base-color);
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
footer {
  background: var(--base-color);
}
footer .container {
  padding: 4rem 0;
  margin-left: 1.5rem;

}
footer .brand a {
  display: inline-block;
  margin-bottom: 1.5rem;

}
footer .brand span {
  color: var(--text-color-light);

}

footer .brand p{
  margin-bottom: 0.75rem;
  color: var(--text-color-light);

}

footer .social {
  display: flex;
  gap: 2rem;
}
footer .social i {
  font-size: 1.5rem;
  color: var(--text-color-light);
}